/* General  */
* {
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Gothic A1';
    font-weight: 500;
    font-size: 13.5px;
    color: rgb(170, 170, 170);
    letter-spacing: 0.02em;
}

ul {
    padding-left: 0px;
}

li {
    list-style-type: none;
}

.page_container {
    display: flex;
}

/* Sidebar */
.sidebar {
    background-color: black;
    min-width: 280px;
    height: 100vh;
}

.sidebar * {
    font-size: 14px;
    font-weight: 700;
}

.sideNav_container {
    padding-left: 15px;
    margin: 50px 30px 40px 30px;
}

.sideNav_container > ul > li {
    padding: 10px 0px;
    display: flex;
    align-items: flex-end;
}

.sideForm_container {
    border-bottom: 1px solid rgb(75, 75, 75);
    padding-left: 15px;
    padding-bottom: 50px;
    margin: 0px 30px 60px 30px;
}

.sideForm_container > ul > li {
    padding: 10px 0px;
    display: flex;
    align-items: flex-end;
}

.sideBar_icon {
    margin-right: 12px;
    margin-bottom: 4px;
    font-size: 16px;
}

.sideForm_container > ul > li > .fa-plus {
    font-size: 16px;
}

.sideForm_container > ul > li > .fa-heart {
    font-size: 16px;
}

.playlist_container {
    padding: 0px 10px 0px 10px;
    margin: 0px 30px 0px 30px;
}

.playlist_container > ul > li {
    padding: 4px 0px;
}

.sideBar_playlist_container {
    display: flex;
    justify-content: space-between;
}

.sideBar_playlistTitle {
    font-size: 13.5px;
    font-weight: 500;
    padding: 5px 0px;
}

.sideBar_edit_delete_container {
    display: flex;
    align-self: center;
}

.sideBar_edit_delete_container > div > i {
    font-size: 12px;
}


/* Home Banner */
.banner_home {
    position: relative;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to right, #7454ca, #008c82);
    width: 100vw;
    height: 100vh;
    overflow: scroll;
}

.banner_home * {
    color: white;
}

.logo_welcomeMessage_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    height: 200px;
}

.banner_logo {
    display: flex;
    align-items: center;
    font-size: 32px;
    font-weight: 800;
}

.bannerLogo_circle {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #55ca55; */
    background-color: #02c48a;
    width: 48px;
    height: 48px;
    border-radius: 100%;
    margin-bottom: 10px;
    margin-right: 2px;
    /* border: 2px solid rgb(20, 20, 20); */
}

.fa-headphones {
    padding-left: 1px;
    padding-bottom: 1px;
    font-size: 32px;
    color: rgb(20, 20, 20);
}

.profileButton {
    /* position: absolute;
    top: 20px;
    right: 20px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.85);
    border: none;
    border-radius: 100px;
    height: fit-content;
    width: fit-content;
    padding: 3px 12px 3px 3px;
    margin: 20px 20px 20px 0px;
}

.profileButton_thumbnail {
    width: 29px;
    height: 29px;
    border-radius: 100%;
    object-fit: cover;
}

.profileButton_username {
    font-size: 13px;
    font-weight: 700;
    padding: 0px 21px;
    padding-top: 1px;
}

.fa-caret-down {
    font-size: 18px;
}

.banner_mainText {
    /* padding: 10px 20px 10px 20px; */
    font-size: 54px;
    font-weight: 800;
    /* min-width: 494px; */
    min-width: max-content;
}

/* Playlist Banner */

.banner_playlistDetails {
    display: flex;
    flex-direction: row;
    /* align-items: flex-end; */
    /* justify-content: space-between; */
    padding: 20px;
    /* height: 185px; */
    height: fit-content;
    min-width: max-content;
}

.banner_playlistImage {
    width: 204px;
    height: 204px;
    margin-right: 25px;
    object-fit: cover;
}

.playlistDetails_list {
    align-self: flex-end;
}

#playlistDetails_playlist {
    font-weight: 800;
    font-size: 13.5px;
}

#playlistDetails_title {
    font-weight: 800;
    font-size: 54px;
}

#playlistDetails_username {
    font-weight: 700;
    font-size: 13.5px;
}

#playlistDetails_username * {
    font-weight: 700;
    font-size: 12.5px;
    color: rgba(255, 255, 255, 0.6);
}

.playlistDetails_list > li {
    padding-top: 20px;
}

/* Liked Songs banner */
.banner_likedSongsImage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 204px;
    height: 204px;
    margin-right: 25px;
    /* object-fit: cover; */
    background-color: rgb(0, 0, 0, 0.85);
}

.likedSongsImage_heart > i {
    color: rgb(255, 75, 75);
    font-size: 100px;
}

/* Your Library banner */
.banner_yourLibraryImage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 204px;
    height: 204px;
    margin-right: 25px;
    /* object-fit: cover; */
    background-color: rgb(0, 0, 0, 0.85);
}

.yourLibraryImage_book > i {
    color: white;
    font-size: 100px;
}

/* Song Container */
.song_container {
    position: absolute;
    /* top: 198px; */
    top: 245px;
    background: linear-gradient(to top, black 50%, rgba(0, 0, 0, 0.5));
    width: 100%;
    height: 80vh;
    padding-bottom: 85px;
    overflow: scroll;
}

.playlist_header {
    display: grid;
    grid-template-columns: 1.5% 32% 35% 27% 6%;
    margin: 50px 50px 0px 50px;
    padding: 2px 10px;
    border-bottom: 2px solid rgb(75, 75, 75);
}

.playlist_header * {
    color: rgb(170, 170, 170);
    font-size: 13.5px;
    font-weight: 800;
}

.playlist_row {
    display: grid;
    grid-template-columns: 1.5% 32% 35% 27% 6%;
    align-items: center;
    margin: 20px 50px;
    padding: 2px 10px;
}

.album_column {
    padding-right: 8px;
}

#likeAndAdd_container_hidden {
    display: none;
}

#likeAndAdd_container_title{
    display: none;
}

.albumCover_thumbnail {
    margin-left: 1px;
}

.titleAndButtons_container {
    margin-left: 8px;
}

#title_header {
    margin-left: 8px;
}

.edit_delete_container {
    display: flex;
    align-self: center;
}

@media screen and (max-width: 1450px) {
    .playlist_header {
        grid-template-columns: 1.5% 38% 34% 21% 6%;
    }

    .playlist_row {
        grid-template-columns: 1.5% 38% 34% 21% 6%;
    }

  }

@media screen and (max-width: 1300px) {
    .playlist_header {
        grid-template-columns: 1.5% 42% 34% 25%;
    }

    .playlist_row {
        grid-template-columns: 1.5% 42% 34% 25%;
    }

    #genre_header {
        display: none;
    }

    .genre_column {
        display: none;
    }

  }

  @media screen and (max-width: 1200px) {
    .playlist_header {
        grid-template-columns: 52% 50%;
    }

    .playlist_row {
        grid-template-columns: 52% 50%;
    }

    #dateAdded_header {
        display: none;
    }

    #dateAdded_column {
        display: none;
    }

    #likeAndAdd_container_hidden {
        display: flex;
        align-items: center;
    }

    #likeAndAdd_container_title {
        display: none;
        align-items: center;
    }

    .album_column {
        display: flex;
        justify-content: space-between;
    }

    #index_header {
        display: none;
    }

    .index_column {
        display: none;
    }

    .titleAndButtons_container {
        margin-left: 0px;
    }
    
    #title_header {
        margin-left: 0px;
    }
  }

/* @media screen and (max-width: 1050px) {
    .playlist_header {
        grid-template-columns: 55% 47%;
    }

    .playlist_row {
        grid-template-columns: 55% 47%;
    }
  } */

@media screen and (max-width: 1030px) {
    .playlist_header {
        grid-template-columns: 103%;
    }

    .playlist_row {
        grid-template-columns: 103%;
    }

    #album_header {
        display: none;
    }

    .album_column {
        display: none;
    }

    #likeAndAdd_container_title {
        display: flex;
    }
  }

  @media screen and (max-width: 750px) {

    .titleAndButtons_container {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .edit_delete_container {
        margin-top: 4px;
        align-self: flex-start;
        
    }

    .sidebar {
        min-width: 200px;
    }

    .sideNav_container {
        padding-left: 3px;
        margin-left: 15px;
        margin-right: 15px;
    }

    .sideForm_container {
        padding-left: 3px;
        margin-left: 15px;
        margin-right: 15px;
    }

    .playlist_container {
        padding: 0px 15px 0px 18px;
        margin: 0px;
    }

    .playlist_header {
        margin: 50px 10px 0px 10px;
    }
    
    .playlist_row {
        margin: 20px 0px 20px 10px;
        padding: 2px 0px 2px 10px;
    }

    /* .sideBar {
        display: none;
    }

    .albumCover_thumbnail {
        display: none;
    } */

    /* .albumCover_thumbnail {
        align-self: center;
    }

    .edit_delete_container {
        flex-direction: column;
    }

    #likeAndAdd_container_title {
        flex-direction: column;
    } */
  }

.playlist_row * {
    color: rgb(170, 170, 170);
    font-size: 13.5px;
    font-weight: 700;
}

.titleAndButtons_container {
    display: flex;
    justify-content: space-between;
    padding-right: 12px
}

.playlistTitle_container {
    display: flex;
    align-items: flex-start;
    padding-right: 8px;
}

.albumCover_thumbnail {
    width: 30px;
    height: 30px;
    margin-right: 8px;
    background-color: white;
    /* align-self: center; */
}

.playlist_songTitle {
    color: white;
    padding-bottom: 1px;
}

.fa-edit, .fa-trash-alt, .fa-plus, .fa-minus, .fa-heart {
    padding: 0px 3px;
    font-size: 12.5px;
}

.playlistDate_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 12px;
}

.likeAndAdd_container {
    display: flex;
    align-items: center;
}

#likedSong {
    color: rgb(255, 75, 75);
}

/* Add song to playlist modal */
/* .addSongModal_background {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: #02c48a75;
    z-index: 1000;
} */

/* .addSong_modal {
    background-color: black;
    min-width: 375px;
    max-height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 45px;
    border-radius: 10px;
    overflow: scroll;
} */

/* .addSong_header {
    font-size: 24px;
    font-weight: 600;
    color: white;
    margin-top: 5vh;

    margin-bottom: 12%;
    padding: 20px 0px;
} */

/* .form_inputField {
    width: 100%;
    min-width: 200px;
    padding: 16px 4px;
    background-color: rgb(20, 20, 20);
    border-radius: 5px;
    align-items: center;
    justify-content: center;
} */

/* .addSong_dropdown > li {
    color: white;
    font-size: 14px;
    text-align: center;
    padding: 5px;
    border-radius: 2px;
}

.addSong_dropdown > li:hover {
    color: rgb(250, 250, 250);
    background-color: rgb(150, 150, 150);
}

#addSong_selected {
    color: black;
    background-color: rgb(250, 250, 250);
}

.addSong_button {
    color: black;
    font-size: 16px;
    font-weight: 700;
    background-color: #02c48a;
    border: none;
    border-radius: 20px;
    padding: 8px;
    padding-top: 12px;
    margin: 25px 0px;
    width: 100%;
} */

/* Audio Player */
.audioPlayer {
    position: fixed;
    bottom: 0px;
    background-color: rgb(18, 18, 18);
    z-index: 1000;
}

.rhap_container {
    padding: 12px 36px;
}

.audioPlayer * {
    color:rgb(170, 170, 170);
}

.rhap_main-controls * {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
}

.rhap_volume-container * {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
}
.rhap_current-time, .rhap_total-time {
    font-size: 10px;
}