/* General  */
* {
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Gothic A1';
    font-weight: 500;
    font-size: 13.5px;
    color: rgb(170, 170, 170);
    letter-spacing: 0.02em;
}

ul {
    padding-left: 0px;
}

li {
    list-style-type: none;
}

.page_container {
    display: flex;
}

i {
    transition: all 0.15s linear;
}

svg * {
    transition: all 0.15s linear;
}

/* ----- Sidebar ----- */
.sidebar {
    background-color: black;
    min-width: 280px;
    height: 100vh;
}

.sidebar * {
    font-size: 14px;
    font-weight: 700;
}

.sideNav_container {
    padding-left: 15px;
    margin: 50px 30px 40px 30px;
}

.sideNav_container > ul > li {
    width: fit-content;
    padding: 10px 0px;
    display: flex;
    align-items: flex-end;
    transition: all 0.15s linear;
}

.sidebarItem_title {
    transition: all 0.15s linear;
}

.sideNav_container > ul > li:hover {
    color: rgb(250, 250, 250);
    cursor: pointer;
}

.sideNav_container > ul > li:hover > .sidebarItem_title {
    color: rgb(250, 250, 250);
    cursor: pointer;
}

.sideForm_container {
    border-bottom: 1px solid rgb(75, 75, 75);
    padding-left: 15px;
    padding-bottom: 50px;
    margin: 0px 30px 60px 30px;
}

.sideForm_container > ul > li {
    width: fit-content;
    padding: 10px 0px;
    display: flex;
    align-items: flex-end;
    transition: all 0.15s linear;
}

.sideForm_container > ul > li:hover {
    color: rgb(250, 250, 250);
    cursor: pointer;
}

.sideForm_container > ul > li:hover > .sidebarItem_title {
    color: rgb(250, 250, 250);
    cursor: pointer;
}

.sideBar_icon {
    margin-right: 12px;
    margin-bottom: 4px;
    font-size: 16px;
    transition: color 0.15s linear;
}

.sideNav_container > ul > li:hover > i {
    color: rgb(250, 250, 250);
    cursor: pointer;
}

.sideForm_container > ul > li:hover > i {
    color: rgb(250, 250, 250);
    cursor: pointer;
}

.sideForm_container > ul > li > .fa-plus {
    font-size: 16px;
}

.sideNav_container > ul > li > .fa-heart {
    padding: 0px;
    font-size: 16px;
}

.playlist_container {
    padding: 0px 10px 0px 10px;
    margin: 0px 30px 0px 30px;
}

.playlist_container > ul > li {
    padding: 4px 0px;
}

.sideBar_playlistTitle:hover {
    color: rgb(250, 250, 250);
    cursor: pointer;
}


.sideBar_playlist_container {
    display: flex;
    justify-content: space-between;
}

.sideBar_playlistTitle {
    font-size: 13.5px;
    font-weight: 500;
    padding: 5px 0px;
    transition: all 0.15s linear;
}

.sideBar_playlistTitle_small {
    display: none;
    font-size: 13.5px;
    font-weight: 500;
    padding: 5px 0px;
    transition: all 0.15s linear;
}

.sideBar_playlistTitle:hover {
    color: rgb(250, 250, 250);
    cursor: pointer;
}

.sideBar_playlistTitle_small:hover {
    color: rgb(250, 250, 250);
    cursor: pointer;
}

.sideBar_edit_delete_container {
    display: flex;
    align-self: center;
}

.sideBar_edit_delete_container > div > i {
    font-size: 12px;
}


/* Home Banner */
.banner_home {
    position: relative;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to right, #7454ca, #008c82);
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
}

.banner_home * {
    /* color: white; */
    color: rgb(250, 250, 250);
}

.logo_welcomeMessage_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    height: 200px;
}

.banner_logo {
    display: flex;
    align-items: center;
    font-size: 32px;
    font-weight: 800;
}

.bannerLogo_circle {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #55ca55; */
    background-color: #02c48a;
    width: 48px;
    height: 48px;
    border-radius: 100%;
    margin-bottom: 10px;
    margin-right: 3px;
    /* border: 2px solid rgb(20, 20, 20); */
}

.fa-headphones {
    padding-left: 1px;
    padding-bottom: 1px;
    font-size: 32px;
    /* color: rgb(20, 20, 20); */
    /* color: rgb(12, 12, 12); */
    color: rgb(5, 5, 5)
}

.profileButton {
    position: relative;
    top: 0px;
    right: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: rgba(0, 0, 0, 0.85); */
    background-color: rgb(12, 12, 12);
    border: none;
    border-radius: 100px;
    height: fit-content;
    width: fit-content;
    padding: 3px 12px 3px 3px;
    margin: 20px 20px 20px 0px;
}

.profileButton:hover {
    cursor: pointer;
}

.profileButton_thumbnail {
    width: 29px;
    height: 29px;
    border-radius: 100%;
    object-fit: cover;
}

.profileButton_username {
    font-size: 12.5px;
    font-weight: 700;
    padding: 0px 24px;
    padding-top: 1px;
    color: rgb(246, 246, 246);
}

.fa-caret-down {
    font-size: 18px;
    color: rgb(246, 246, 246);
}

.fa-caret-up {
    font-size: 18px;
    color: rgb(246, 246, 246);
}

.dropdownCaret {
    color: rgb(12, 12, 12);
    font-size: 42px;
    position: absolute;
    top: -22px;
    right: 4px;
}

.dropdownCaret:hover {
    color: rgb(12, 12, 12);
    font-size: 42px;
    position: absolute;
    top: -22px;
    right: 4px;
}

.profileButton_dropdown {
    position: absolute;
    /* margin-top: 85px; */
    left: 0px;
    top: 48px;
    width: 100%;
    padding: 10px 4px;
    background-color: rgb(12, 12, 12);
    /* border-radius: 10px;   */
    border-radius: 5px; 
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.profileButton_dropdown > li {
    color: rgb(246, 246, 246);
    font-size: 12.5px;
    font-weight: 700;
    /* color: rgb(200, 200, 200); */
    text-align: center;
    padding: 4px 0px;
    /* border-radius: 2px; */
    border-radius: 1px;
}

.profileButton_dropdown > li:hover {
    /* color: rgb(250, 250, 250); */
    color: black;
    /* color: white; */
    /* background-color: rgba(255, 255, 255, 0.9); */
    background-color: rgba(250, 250, 250, 0.85);
    /* color: rgb(250, 250, 250); */
}

.banner_mainText {
    display: static;
    /* padding: 10px 20px 10px 20px; */
    font-size: 54px;
    font-weight: 800;
    /* min-width: 494px; */
    min-width: max-content;
}

.banner_mainText_column {
    display: none;
    font-size: 54px;
    font-weight: 800;
    min-width: fit-content;
}

/* Playlist Banner */

.banner_playlistDetails {
    display: flex;
    flex-direction: row;
    /* align-items: flex-end; */
    /* justify-content: space-between; */
    padding: 20px;
    /* height: 185px; */
    height: fit-content;
    min-width: max-content;
}

.banner_playlistImage {
    width: 204px;
    height: 204px;
    margin-right: 25px;
    object-fit: cover;
}

.playlistDetails_list {
    align-self: flex-end;
}

#playlistDetails_playlist {
    font-weight: 800;
    font-size: 13.5px;
}

#playlistDetails_title {
    font-weight: 800;
    font-size: 54px;
}

#playlistDetails_username {
    font-weight: 700;
    font-size: 13.5px;
}

#playlistDetails_username * {
    font-weight: 700;
    font-size: 12.5px;
    color: rgba(255, 255, 255, 0.6);
}

.playlistDetails_list > li {
    padding-top: 20px;
}

/* Liked Songs banner */
.banner_likedSongsImage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 204px;
    height: 204px;
    margin-right: 25px;
    /* object-fit: cover; */
    /* background-color: rgba(0, 0, 0, 0.85); */
    background-color: rgb(12, 12, 12);
}

.likedSongsImage_heart > i {
    color: rgb(255, 75, 75);
    font-size: 100px;
}

.likedSongsImage_heart > i:hover {
    color: rgb(255, 75, 75);
    font-size: 100px;
    cursor: default;
}

/* Your Library banner */
.banner_yourLibraryImage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 204px;
    height: 204px;
    margin-right: 25px;
    /* object-fit: cover; */
    /* background-color: rgb(0, 0, 0, 0.85); */
    background-color: rgb(12, 12, 12);
}

.yourLibraryImage_book > i {
    color: rgb(246, 246, 246);
    font-size: 100px;
}

.yourLibraryImage_book > i:hover {
    color: rgb(246, 246, 246);
    font-size: 100px;
    cursor: default;
}

#browseSongs_text {
    position: absolute;
    top: 30px;
    left: 25px;
    color: rgba(255, 255, 255, 0.55);
    font-size: 18px;
}

/* ----- Search ----- */

.search_container {
    position: absolute;
    top: 25px;
    right: 20px;
    display: flex;
}

.magnifyingGlass_container {
    background-color: rgba(255, 255, 255, 0.15);
    height: 34px;
    margin: 0px;
    display: flex;
    align-items: center;
    padding: 0px 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.search_box {
    color: rgba(255, 255, 255, 0.80);
    background-color: rgba(255, 255, 255, 0.15);
    height: 34px;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 8px 10px;
}

.search_box:focus {
    outline: none;
}

.search_box::placeholder {
    color: rgba(255, 255, 255, 0.80);
}

.fa-search {
    color: rgba(255, 255, 255, 0.80);
    margin-bottom: 1px;
    padding: 8px;
    padding-right: 0px;
}

@media screen and (max-width: 600px) {
    #browseSongs_text {
        display: none;
    }

    .search_container {
        left: 20px;
        width: 204px;
    }

    .search_box {
        width: 100%;
    }
}

/* Song Container */
.song_container {
    position: absolute;
    /* top: 198px; */
    top: 245px;
    background: linear-gradient(to top, black 50%, rgba(0, 0, 0, 0.5));
    width: 100%;
    min-width: 300px;
    min-height: 85vh;
    max-height: 100vh;
    padding-bottom: 85px;
    overflow: scroll;
}

.playlist_header {
    display: grid;
    /* grid-template-columns: 1.5% 32% 35% 27% 6%; */
    grid-template-columns: 22px 32% 36% 24% 6%;
    margin: 100px 50px 0px 50px;
    padding: 2px 10px;
    border-bottom: 2px solid rgb(75, 75, 75);
}

.playlist_header * {
    color: rgb(170, 170, 170);
    font-size: 13.5px;
    font-weight: 800;
}

.playlist_row {
    display: grid;
    /* grid-template-columns: 1.5% 32% 35% 27% 6%; */
    grid-template-columns: 22px 32% 36% 24% 6%;
    align-items: center;
    margin: 20px 50px;
    padding: 2px 10px;
}

.album_column {
    padding-right: 8px;
}

#likeAndAdd_container_hidden {
    display: none;
}

#likeAndAdd_container_title{
    display: none;
}

.albumCover_thumbnail {
    margin-left: 1px;
}

.titleAndButtons_container {
    margin-left: 8px;
}

#title_header {
    margin-left: 8px;
}

.edit_delete_container {
    display: flex;
    align-self: center;
}

@media screen and (max-width: 1450px) {
    /* .playlist_header {
        grid-template-columns: 1.5% 38% 34% 21% 6%;
    }

    .playlist_row {
        grid-template-columns: 1.5% 38% 34% 21% 6%;
    } */

    .playlist_header {
        grid-template-columns: 22px 38% 33% 20% 6%;
    }

    .playlist_row {
        grid-template-columns: 22px 38% 33% 20% 6%;
    }

  }

@media screen and (max-width: 1280px) {
    .playlist_header {
        grid-template-columns: 1.5% 42% 34% 25%;
    }

    .playlist_row {
        grid-template-columns: 1.5% 42% 34% 25%;
    }

    .playlist_header {
        grid-template-columns: 22px 43% 35% 22%;
    }

    .playlist_row {
        grid-template-columns: 22px 43% 35% 22%;
    }

    #genre_header {
        display: none;
    }

    .genre_column {
        display: none;
    }

  }

  @media screen and (max-width: 1175px) {
    .playlist_header {
        grid-template-columns: 54% 48%;
    }

    .playlist_row {
        grid-template-columns: 54% 48%;
    }

    #dateAdded_header {
        display: none;
    }

    #dateAdded_column {
        display: none;
    }

    #likeAndAdd_container_hidden {
        display: flex;
        align-items: center;
    }

    #likeAndAdd_container_title {
        display: none;
        align-items: center;
    }

    .album_column {
        display: flex;
        justify-content: space-between;
    }

    #index_header {
        display: none;
    }

    .index_column {
        display: none;
    }

    .titleAndButtons_container {
        margin-left: 0px;
    }
    
    #title_header {
        margin-left: 0px;
    }
  }

@media screen and (max-width: 1065px) {
    .playlist_header {
        grid-template-columns: 103%;
    }

    .playlist_row {
        grid-template-columns: 103%;
    }

    #album_header {
        display: none;
    }

    .album_column {
        display: none;
    }

    #likeAndAdd_container_title {
        display: flex;
    }

    .banner_playlistDetails {
        flex-direction: column;
        align-items: flex-start;
    }

    .playlistDetails_list {
        align-self: flex-start;
    }

    #playlistDetails_playlist {
        display: none;
    }

    #playlistDetails_title {
        font-size: 18px;
        font-weight: 600;
        padding-top: 4px;
    }

    #playlistDetails_username {
        font-weight: 500;
        font-size: 12.5px;
    }
    
    #playlistDetails_username * {
        font-weight: 500;
        font-size: 11.5px;
        color: rgba(255, 255, 255, 0.6);
    }

    .playlistDetails_list > li {
        padding-top: 0px;
    }

    .profileButton {
        position: relative;
        margin: 0px 0px 0px 20px;
        width: 204px;
        /* border-radius: 2px; */
    }

    /* .profileButton_thumbnail {
        border-radius: 1px;
    } */

    .banner_home {
        flex-direction: column;
        justify-content: flex-start;
    }

    .banner_playlistDetails {
        padding-bottom: 2px;
    }

    .song_container {
        top: 315px;
        min-height: 75vh;
        max-height: 100vh;
    }

    .playlist_header {
        margin: 100px 15px 0px 15px;
    }

    .banner_mainText {
        display: none;
        padding: 14px 0px;
        min-width: fit-content;
        font-size: 52px;
        overflow: scroll;
    }

    #banner_mainText_columnTop {
        display: flex;
        margin-top: 10px;
    }

    #banner_mainText_columnBottom {
        display: flex;
        margin-bottom: 10px;
    }

    .logo_welcomeMessage_container {
        height: auto;
        padding-bottom: 10px;
    }

    .profileButton_dropdown {
        /* border-radius: 2px; */
        background-color: rgb(14, 14, 14);
    }

    .profileButton_dropdown > li:hover {
        /* color: black; */
        /* background-color: #9585ffee;
        background-color: rgba(250, 250, 250); */
    }

    .audioPlayer_songTitle_artist {
        display: none;
    }

    #audioPlayer_thumbnail_wrapper {
        margin-right: 10px;
    }

    .sidebar {
        min-width: 75px;
    }

    .sideNav_container {
        padding-left: 3px;
        margin-left: 15px;
        margin-right: 15px;
    }

    .sideNav_container {
        padding-left: 3px;
        margin-left: 15px;
        margin-right: 15px;
    }
    
    .sideNav_container > ul > li {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .sideForm_container {
        padding-left: 3px;
        margin-left: 15px;
        margin-right: 15px;
    }
    
    .sideForm_container > ul > li {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .sideBar_icon {
        margin-right: 0px;
    }

    .playlist_container {
        padding: 0px 15px 0px 18px;
        margin: 0px;
        display: flex;
        justify-content: center;
    }

    .sidebarItem_title {
        display: none;
    }

    .sideBar_playlistTitle {
        display: none;
    }

    .sideBar_edit_delete_container {
        display: none;
    }

    .sideBar_playlistTitle_small {
        display: flex;
    }
  }

  @media screen and (max-width: 750px) {

    .titleAndButtons_container {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .edit_delete_container {
        margin-top: 4px;
        align-self: flex-start;
        
    }

    /* .sidebar {
        min-width: 200px;
    }

    .sideNav_container {
        padding-left: 3px;
        margin-left: 15px;
        margin-right: 15px;
    }

    .sideForm_container {
        padding-left: 3px;
        margin-left: 15px;
        margin-right: 15px;
    }

    .playlist_container {
        padding: 0px 15px 0px 18px;
        margin: 0px;
    } */

    .playlist_header {
        margin: 100px 15px 0px 15px;
    }
    
    .playlist_row {
        margin: 20px 0px 20px 10px;
        padding: 2px 0px 2px 10px;
    }
  }

.playlist_row * {
    color: rgb(170, 170, 170);
    font-size: 13.5px;
    font-weight: 700;
}

.titleAndButtons_container {
    display: flex;
    justify-content: space-between;
    padding-right: 12px
}

.playlistTitle_container {
    display: flex;
    align-items: flex-start;
    padding-right: 8px;
}

.titleAndButtons_container > .playlistTitle_container:hover {
    cursor: pointer;
}

.albumCover_thumbnail {
    width: 30px;
    height: 30px;
    margin-right: 8px;
    background-color: white;
}

.playlist_songTitle {
    color: rgb(250, 250, 250);
    padding-bottom: 1px;
}

.fa-edit, .fa-trash-alt, .fa-plus, .fa-minus, .fa-heart, .fa-random {
    padding: 0px 3px;
    font-size: 12.5px;
}

.fa-edit:hover, .fa-plus:hover, .fa-minus:hover, .fa-heart:hover, .fa-random:hover {
    color: rgb(250, 250, 250);
    cursor: pointer;
}

.fa-random {
    transition: all 0.0s linear;
}

.fa-trash-alt {
    transition: all 0.15s linear;
}

.fa-trash-alt:hover {
    color: rgb(255, 75, 75);
    cursor: pointer;
}

.playlistDate_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 12px;
}

.likeAndAdd_container {
    display: flex;
    align-items: center;
}

#likedSong {
    color: rgb(255, 75, 75);
}

/* ----- Audio Player ----- */
.audioPlayer {
    position: fixed;
    bottom: 0px;
    background-color: rgb(18, 18, 18);
    z-index: 1000;
}

#shuffle_container {
    position: fixed;
    bottom: 49px;
    right: 160px;
    z-index: 1001;
}

.shuffle_icon {
    font-size: 16px;
}

#loop_container {
    margin-left: 10px;
    display: none;
}

/* ----- Loop button ----- */
.rhap_repeat-button {
    position: fixed;
    bottom: 50px;
    left: 20px;
}

.rhap_repeat-button * {
    font-size: 18px;
}

#shuffle_selected {
    color: #02c48a;
    transition: all 0.0s linear;
}

.rhap_container {
    padding: 12px 36px;
}

.rhap_container.rhap_container.rhap_loop--on > .rhap_main > .rhap_controls-section > .rhap_additional-controls > .rhap_repeat-button * {
    color: #02c48a;
}

.audioPlayer * {
    color:rgb(170, 170, 170);
}

.rhap_main-controls > button:hover > svg * {
    color: rgb(250, 250, 250);
    cursor: pointer;
}

.rhap_additional-controls > button:hover > svg * {
    color: rgb(250, 250, 250);
    cursor: pointer;
}

.rhap_additional-controls > button > svg * {
    transition: all 0.0s linear;
}

.rhap_volume-controls > .rhap_volume-container > button:hover > svg * {
    color: rgb(250, 250, 250);
    cursor: pointer;
}

.rhap_main-controls * {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
}

.rhap_volume-container * {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
}
.rhap_current-time, .rhap_total-time {
    font-size: 10px;
}

#audioPlayer_songInfo {
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 40px;
    left: 62px;
    z-index: 2000;
}

.audioPlayer_thumbnail_wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 15px;
    font-size: 13.5px;
    font-weight: 700;
}

.audioPlayer_thumbnail_wrapper * {
    font-size: 10px;
    font-weight: 500;
}

#audioPlayer_thumbnail {
    width: 40px;
    height: 40px;
}

#audioPlayer_songTitle {
    font-size: 12.5px;
    font-weight: 700;
}

#audioPlayer_artist {
    font-size: 10.5px;
    font-weight: 600;
}

.audioPlayer_songTitle_artist {
    margin-top: 2px;
}

.audioPlayer_songTitle_artist * {
    margin: 0px;
    padding: 0px;
}