/* General  */
* {
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Gothic A1';
    font-weight: 500;
    font-size: 13.5px;
    color: rgb(170, 170, 170);
    letter-spacing: 0.02em;
}

ul {
    padding-left: 0px;
}

li {
    list-style-type: none;
}

.page_container {
    display: flex;
}

/* Sidebar */
.sidebar {
    background-color: black;
    min-width: 280px;
    height: 100vh;
}

.sidebar * {
    font-size: 14px;
    font-weight: 700;
}

.sideNav_container {
    padding-left: 15px;
    margin: 50px 30px 40px 30px;
}

.sideNav_container > ul > li {
    padding: 10px 0px;
    display: flex;
    align-items: flex-end;
}

.sideForm_container {
    border-bottom: 1px solid rgb(75, 75, 75);
    padding-left: 15px;
    padding-bottom: 50px;
    margin: 0px 30px 60px 30px;
}

.sideForm_container > ul > li {
    padding: 10px 0px;
    display: flex;
    align-items: flex-end;
}

.sideBar_icon {
    margin-right: 12px;
    margin-bottom: 4px;
    font-size: 16px;
}

.sideForm_container > ul > li > .fa-plus {
    font-size: 16px;
}

.sideForm_container > ul > li > .fa-heart {
    font-size: 16px;
}

.playlist_container {
    padding: 0px 10px 0px 10px;
    margin: 0px 30px 0px 30px;
}

.playlist_container > ul > li {
    padding: 4px 0px;
}

.sideBar_playlist_container {
    display: flex;
    justify-content: space-between;
}

.sideBar_playlistTitle {
    font-size: 13.5px;
    font-weight: 500;
    padding: 5px 0px;
}

.sideBar_edit_delete_container {
    display: flex;
    align-self: center;
}

.sideBar_edit_delete_container > div > i {
    font-size: 12px;
}


/* Banner */
.banner {
    position: relative;
    background: linear-gradient(to right, #7454ca, #008c82);
    width: 100vw;
    height: 100vh;
}

.banner * {
    color: white;
}

.logo_profileButton_container {
    display: flex;
    justify-content: space-between;
    padding: 25px 20px 25px 20px;
}

.banner_logo {
    display: flex;
    align-items: center;
    font-size: 32px;
    font-weight: 800;
}

.bannerLogo_circle {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #55ca55; */
    background-color: #02c48a;
    width: 48px;
    height: 48px;
    border-radius: 100%;
    margin-bottom: 10px;
    margin-right: 2px;
    /* border: 2px solid rgb(20, 20, 20); */
}

.fa-headphones {
    padding-left: 1px;
    padding-bottom: 1px;
    font-size: 32px;
    color: rgb(20, 20, 20);
}

.profileButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.70);
    border: none;
    border-radius: 50px;
    height: fit-content;
    width: 105px;
    padding: 2px 6px 2px 2px;
}

.profileButton_thumbnail {
    background-color: cornsilk;
    width: 14px;
    height: 14px;
    border-radius: 100%;
}

.profileButton_username {
    font-size: 7px;
    font-weight: 700;
    
}

.fa-caret-down {
    font-size: 9px;
}

.banner_mainText {
    padding: 10px 20px 10px 20px;
    font-size: 44px;
    font-weight: 800;
}

/* Song Container */
.song_container {
    position: absolute;
    top: 20vh;
    background: linear-gradient(to top, black 50%, rgba(0, 0, 0, 0.5));
    width: 100%;
    height: 80vh;
    padding-bottom: 85px;
    overflow: scroll;
}

.playlist_header {
    display: grid;
    grid-template-columns: 2% 32% 30% 30% 6%;
    margin: 50px 50px 0px 50px;
    padding: 2px 10px;
    border-bottom: 2px solid rgb(75, 75, 75);
}

.playlist_header * {
    color: rgb(170, 170, 170);
    font-size: 13.5px;
    font-weight: 800;
}

.playlist_row {
    display: grid;
    grid-template-columns: 2% 32% 30% 30% 6%;
    align-items: center;
    margin: 20px 50px;
    padding: 2px 10px;
}

.playlist_row * {
    color: rgb(170, 170, 170);
    font-size: 13.5px;
    font-weight: 700;
}

.titleAndButtons_container {
    display: flex;
    justify-content: space-between;
    padding-right: 12px
}

.playlistTitle_container {
    display: flex;
    align-items: flex-start;
}

.albumCover_thumbnail {
    width: 30px;
    height: 30px;
    margin-right: 8px;
    background-color: white;
}

.playlist_songTitle {
    color: white;
    padding-bottom: 1px;
}

.edit_delete_container {
    display: flex;
    align-self: center;
}

.fa-edit, .fa-trash-alt, .fa-plus, .fa-minus, .fa-heart {
    padding: 0px 3px;
    font-size: 12.5px;
}

.playlistDate_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 12px;
}

.likeAndAdd_container {
    display: flex;
    align-items: center;
}

#likedSong {
    color: rgb(255, 75, 75);
}

/* Add song to playlist modal */
/* .addSongModal_background {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: #02c48a75;
    z-index: 1000;
} */

/* .addSong_modal {
    background-color: black;
    min-width: 375px;
    max-height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 45px;
    border-radius: 10px;
    overflow: scroll;
} */

/* .addSong_header {
    font-size: 24px;
    font-weight: 600;
    color: white;
    margin-top: 5vh;

    margin-bottom: 12%;
    padding: 20px 0px;
} */

/* .form_inputField {
    width: 100%;
    min-width: 200px;
    padding: 16px 4px;
    background-color: rgb(20, 20, 20);
    border-radius: 5px;
    align-items: center;
    justify-content: center;
} */

/* .addSong_dropdown > li {
    color: white;
    font-size: 14px;
    text-align: center;
    padding: 5px;
    border-radius: 2px;
}

.addSong_dropdown > li:hover {
    color: rgb(250, 250, 250);
    background-color: rgb(150, 150, 150);
}

#addSong_selected {
    color: black;
    background-color: rgb(250, 250, 250);
}

.addSong_button {
    color: black;
    font-size: 16px;
    font-weight: 700;
    background-color: #02c48a;
    border: none;
    border-radius: 20px;
    padding: 8px;
    padding-top: 12px;
    margin: 25px 0px;
    width: 100%;
} */

/* Audio Player */
.audioPlayer {
    position: fixed;
    bottom: 0px;
    background-color: rgb(18, 18, 18);
    z-index: 1000;
}

.rhap_container {
    padding: 12px 36px;
}

.audioPlayer * {
    color:rgb(170, 170, 170);
}

.rhap_main-controls * {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
}

.rhap_volume-container * {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
}
.rhap_current-time, .rhap_total-time {
    font-size: 10px;
}