/* General  */
* {
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Gothic A1';
    font-weight: 500;
    font-size: 13.5px;
    color: rgb(170, 170, 170);
    letter-spacing: 0.02em;
}

ul {
    padding-left: 0px;
}

li {
    list-style-type: none;
}

.page_container {
    display: flex;
}

/* Sidebar */
.sidebar {
    background-color: black;
    min-width: 280px;
    height: 100vh;
}

.sideNav_container {
    padding-left: 15px;
    margin: 100px 30px 30px 30px;
}

.sideForm_container {
    border-bottom: 1px solid rgb(75, 75, 75);
    padding-left: 15px;
    padding-bottom: 50px;
    margin: 0px 30px 50px 30px;
}

.playlist_container {
    padding-left: 15px;
    margin: 0px 30px 0px 30px;
}

/* Banner */
.banner {
    position: relative;
    background: linear-gradient(to right, #7454ca, #008c82);
    width: 100vw;
    height: 100vh;
}

.banner * {
    color: white;
}

.logo_profileButton_container {
    display: flex;
    justify-content: space-between;
    padding: 25px 20px 25px 20px;
}

.banner_logo {
    display: flex;
    align-items: center;
    font-size: 36px;
    font-weight: 800;
}

.bannerLogo_circle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #55ca55;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin-bottom: 10px;
    margin-right: 2px;
}

.fa-headphones {
    font-size: 26px;
    color: rgb(20, 20, 20);
}


.profileButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.70);
    border: none;
    border-radius: 50px;
    height: fit-content;
    width: 105px;
    padding: 2px 6px 2px 2px;
}

.profileButton_thumbnail {
    background-color: cornsilk;
    width: 14px;
    height: 14px;
    border-radius: 100%;
}

.profileButton_username {
    font-size: 7px;
    font-weight: 700;
    
}

.fa-caret-down {
    font-size: 9px;
}


/* Song Container */
.song_container {
    position: absolute;
    bottom: 0px;
    background: linear-gradient(to top, black 50%, rgba(0, 0, 0, 0.5));
    width: 100%;
    height: 75%;
}

/* Media Player */