.authForm_background {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to top, #7454ca, 38%, #008c82);
    z-index: 1000;
    overflow: scroll;
}

.authForm_container {
    background-color: black;
    width: 420px;
    min-width: 420px;
    height: fit-content;
    max-height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10vh;
    padding: 0px 45px;
    border-radius: 10px;
    overflow: scroll;
}

.authForm_logo {
    display: flex;
    align-items: center;
    font-size: 26px;
    font-weight: 700;
    margin-top: 60px;
    color: white;
}

.authFormLogo_circle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #02c48a;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin-bottom: 8px;
    margin-right: 3px;
}

#authFormLogo_headphones {
    font-size: 28px;
    padding-bottom: 1px;
    color: rgb(20, 20, 20);
}

.authForm_headerText {
    font-size: 24px;
    font-weight: 600;
    color: white;
    margin-top: 14%;
    margin-bottom: 7%;
    padding: 20px 0px;
}

.authForm_submitButton {
    color: black;
    font-size: 16px;
    font-weight: 700;
    background-color: #02c48a;
    border: none;
    border-radius: 20px;
    padding: 8px;
    padding-top: 12px;
    margin: 10px 0px;
    width: 100%;
}

.authForm_submitButton_black {
    color: rgb(250, 250, 250);
    font-size: 16px;
    font-weight: 600;
    background-color: black;
    border: 1px solid rgb(250, 250, 250);
    border-radius: 20px;
    padding: 8px;
    padding-top: 12px;
    margin: 15px 0px;
    margin-bottom: 18%;
    width: 100%;
}

.authForm_redirectText {
    font-size: 13.5px;
    margin-bottom: 50%;
}

.authForm_redirectLink {
    font-size: 13.5px;
    font-weight: 600;
    color: white;
    text-decoration: underline;
    padding: 0px 4px;
}

.error-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 24px;
}

.error-message {
    color: rgb(255, 75, 75);
    padding: 12px 0px 2px 0px;
    border-bottom: 1px solid rgb(55, 55, 55);
    align-self: flex-start;
    width: 100%;
}