.signup_submitButton {
    color: black;
    font-size: 16px;
    font-weight: 700;
    background-color: #02c48a;
    border: none;
    border-radius: 20px;
    padding: 8px;
    padding-top: 12px;
    margin: 10px 0px;
    margin-bottom: 18%;
    width: 100%;
    transition: all 0.15s linear;
}

.signup_submitButton:hover {
    /* color: rgb(245, 245, 245); */
    color: rgb(242, 242, 242);
    cursor: pointer;
}

.signup_fileInput_label {
    padding: 2px 16px;
    margin-top: 10px;
    font-size: 12px;
    color: rgb(190, 190, 190);
    align-self: flex-start;
}

.signup_formInput_wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.signup_authForm_redirectText {
    font-size: 13.5px;
    margin-bottom: 30%;
}