/* .addSong_dropdown {
    width: 100%;
    min-width: 200px;
    padding: 16px 4px;
    background-color: rgb(20, 20, 20);
    border-radius: 5px;
    align-items: center;
    justify-content: center;
} */

.modal_background {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: #02c48a75;
    z-index: 1000;
}

.modal_container {
    background-color: black;
    min-width: 375px;
    max-height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 45px;
    border-radius: 10px;
    overflow: scroll;
}

.modal_logoClose_container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form_logo {
    position: relative;
    top: 12px;
    left: -32px;
    display: flex;
    align-items: center;
    font-size: 19px;
    font-weight: 800;
    color: white;
}

.formLogo_circle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #02c48a;
    width: 26px;
    height: 26px;
    border-radius: 100%;
    margin-bottom: 8px;
    margin-right: 1px;
}

#formLogo_headphones {
    font-size: 19px;
    color: rgb(20, 20, 20);
}

.fa-window-close {
    position: relative;
    top: 12px;
    right: -30px;
    color: white;
    font-size: 17px;
}

.form_headerText {
    font-size: 24px;
    font-weight: 600;
    color: white;
    margin-top: 5vh;
    margin-bottom: 12%;
    padding: 20px 0px;
}

.formInput_wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.form_inputField {
    width: 100%;
    padding: 6px 10px;
    padding-top: 8px;
    margin-bottom: 20px;
    color: rgb(190, 190, 190);
    font-size: 16px;
    font-weight: 500;
    background-color: rgb(60, 60, 62);
    border: none;
    border-radius: 4px;
}

.form_inputField::placeholder {
    color: rgb(190, 190, 190);
}

.form_inputField:focus {
    outline: none;
}

.form_image {
    width: 300px;
    padding-bottom: 20px;
}

.addSong_dropdown > li {
    color: white;
    font-size: 14px;
    text-align: center;
    padding: 5px;
    border-radius: 2px;
}

.addSong_dropdown > li:hover {
    color: rgb(250, 250, 250);
    background-color: rgb(150, 150, 150);
}

#addSong_selected {
    color: black;
    background-color: rgb(250, 250, 250);
}

input[type='file'] {
    width: 100%;
    color: rgba(0, 0, 0, 0);
    font-size: 16px;
    font-weight: 700;
}

input[type=file]::file-selector-button {
    width: 100%;
    height: fit-content;
    background-color: black;
    color: rgb(238, 238, 238);
    border: solid 1px white;
    border-radius: 20px;
    padding: 8px;
    transition: all 0.15s linear;
}

input[type=file]::file-selector-button:hover {
    background-color: white;
    color: black;
    border: solid 1px black;
    cursor: pointer;
}

.fileInput_label {
    padding: 2px 16px;
    padding-top: 0px;
    font-size: 12px;
    color: rgb(190, 190, 190);
    align-self: flex-start;
}

.dividerLine {
    width: 100%;
    border-top: 1px solid rgb(75, 75, 75);
    margin: 20px 0px;
}

.form_submitButton {
    color: black;
    font-size: 16px;
    font-weight: 700;
    background-color: #02c48a;
    border: none;
    border-radius: 20px;
    padding: 8px;
    padding-top: 12px;
    margin-bottom: 50%;
    width: 100%;
}