/* .addSong_dropdown {
    width: 100%;
    min-width: 200px;
    padding: 16px 4px;
    background-color: rgb(20, 20, 20);
    border-radius: 5px;
    align-items: center;
    justify-content: center;
} */

.form_inputField {
    width: 100%;
    padding: 6px 10px;
    padding-top: 8px;
    margin-bottom: 20px;
    color: rgb(190, 190, 190);
    font-size: 16px;
    font-weight: 500;
    background-color: rgb(60, 60, 62);
    border: none;
    border-radius: 4px;
}

.form_inputField::placeholder {
    color: rgb(190, 190, 190);
}

.form_inputField:focus {
    outline: none;
}

.editPlaylist_coverPhoto {
    height: 300px;
    padding-bottom: 20px;
}

input[type='file'] {
    color: rgba(0, 0, 0, 0);
    font-size: 16px;
    font-weight: 700;
  }

  input[type=file]::file-selector-button {
    width: 100%;
    height: fit-content;
    background-color: black;
    color: rgb(238, 238, 238);
    /* margin: 15px 0px; */
    border: solid 1px white;
    border-radius: 20px;
    padding: 8px;
    /* padding-top: 12px; */
    transition: all 0.15s linear;
}

.fileInput_label {
    padding: 2px 16px;
    padding-top: 0px;
    font-size: 12px;
    color: rgb(190, 190, 190);
    align-self: flex-start;
}

input[type=file]::file-selector-button:hover {
    background-color: white;
    color: black;
    border: solid 1px black;
    cursor: pointer;
}

.dividerLine {
    width: 100%;
    border-top: 1px solid rgb(75, 75, 75);
    margin: 20px 0px;
}

.form_submitButton {
    color: black;
    font-size: 16px;
    font-weight: 700;
    background-color: #02c48a;
    border: none;
    border-radius: 20px;
    padding: 8px;
    padding-top: 12px;
    margin-bottom: 50%;
    /* margin: 20px 0px; */
    width: 100%;
}